@model MvcCrud.Models.Company

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Company</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TypeId", Model.ddlTypeList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
                <button id="SaveCompany" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="detailsTable" class="table">
                <thead>
                    <tr>
                        <th>SL#</th>
                        <th>Employee Name</th>
                        <th>Position</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>DoB</th>
                        <th>Active?</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <a class="btn btn-default" id="AddEmployee">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add New
                            </a>
                        </td>
                    </tr>
                </tfoot>
                <tbody id="empList">
                    @{int i = 0; }
                    @foreach (var emp in Model.EmployeeList)
                    {
                        i++;
                        <tr>
                            <td><label class="label label-info">@i</label></td>
                            <td><input type="text" class="form-control" placeholder="Name" name="Name" value="@emp.Name"></td>
                            <td><input type="text" class="form-control" placeholder="Position" name="Position" value=@emp.Position></td>
                            <td><input type="text" class="form-control" placeholder="Phone" name="Phone" value="@emp.Phone"></td>
                            <td><input type="email" class="form-control" placeholder="Email" name="Email" value="@emp.Email"></td>
                            <td>
                                @Html.DropDownList("Gender", new SelectList(Enum.GetValues(typeof(MvcCrud.Models.Gender))), "Select Gender", new { @class = "form-control" })
                            </td>
                            <td><input type="date" class="form-control date" placeholder="Date of Birth" name="DateOfBirth" value='@(emp.DateOfBirth.ToString("yyyy-MM-dd"))'></td>
                            
                            <td><input type="checkbox" class="form-control" placeholder="IsAtive" name="IsAtive" @(emp.IsAtive ? "checked" : "") ></td>
                            <td>
                                <input type="hidden" value="@emp.EmployeeID" />
                                <a class="btn btn-link clsDeleteEmployee">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">

    //=================================Employee Detail======================
    $("#AddEmployee").click(function (e) {
        e.preventDefault();
        AddEmpRow();
    });
    function AddEmpRow() {
        //alert("Adding a new Employee");
        var rowCount = $('#detailsTable tbody tr').length + 1;
        var tr =
        `<tr>
            <td><label class="label label-info">`+rowCount+`</label></td>
            <td><input type="text" class="form-control" placeholder="Name" name="Name" value=""></td>
            <td><input type="text" class="form-control" placeholder="Position" name="Position" value=""></td>
            <td><input type="text" class="form-control" placeholder="Phone" name="Phone" value=""></td>
            <td><input type="email" class="form-control" placeholder="Email" name="Email" value=""></td>
            <td><select class="form-control valid" name="Gender" aria-invalid="false"><option value="0">Select Gender</option><option value="1">Male</option><option value="2">Female</option></select></td>
            <td><input type="date" class="form-control" placeholder="Date of Birth" name="DateOfBirth" value=""></td>
            <td><input type="checkbox" class="form-control" placeholder="IsAtive" name="IsAtive" checked></td>
            <td>
                <input type="hidden" value="" />
                <a class="btn btn-link clsDeleteEmployee">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>`;

        $("#detailsTable tbody").append(tr);
    }

    //event handler dynamic element
    $('#detailsTable tbody').on('click', 'a.clsDeleteEmployee', function () {
        var empID = $(this).closest('td').find('input').val();

        if (confirm('Delete Emp ID ' + empID + '?')) {
            $(this).closest('tr').remove();
        }
    });

    //=================================end of Employee Detail======================
    
    //=================================SAVE Company======================
    var saveUrl = '@Url.Action("Create", "Company", new { area=""})';
    function saveOrder(data) {
        return $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: saveUrl,
            data: data
        });
    }

    $("#SaveCompany").click(function (e) {
        e.preventDefault();

        var empArr = [];
        empArr.length = 0;

        //loops thru each row of emp detail table to create empArray
        $.each($("#detailsTable tbody tr"), function () {
            empArr.push({
                //Name: $(this).find('td:eq(1)').html(), // when value is within td tags
                Name: $(this).find('td:eq(1) input').val(),
                Position: $(this).find('td:eq(2) input').val(),
                Phone: $(this).find('td:eq(3) input').val(),
                Email: $(this).find('td:eq(4) input').val(),
                Gender: $(this).find('td:eq(5) select').val(),
                GenderName: $(this).find('td:eq(5) select :selected').text(),
                DateOfBirth: $(this).find('td:eq(6) input').val(),
                IsAtive: $(this).find('td:eq(7) input').is(":checked")
            });
        });

        var data = JSON.stringify({
            ID: 0,
            Name: $("#Name").val(),
            TypeId: $("#TypeId").val(),
            TypeName: $('#TypeId :selected').text(),
            Address: $("#Address").val(),
            EmployeeList: empArr
        });

        $.when(saveOrder(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });
    //=================================end of SAVE Company======================
</script>
